<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>法制度設計・国際的制度移植専門家の養成プログラム【名古屋大学大学院法学研究科】</title>
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/style" />
<meta http-equiv="content-style-type" content="text/css" />
<meta name="description" content="名古屋大学法学部・大学院法学研究科は、日本を代表する研究大学の一つとして、法学・政治学教育の国際的な展開を進めています。本プログラムは、これまでの国際的ネットワークを活かし、法整備支援プロジェクトの現場を活用しながら、「国境を越えて、魅力ある制度を構想・設計できるリーダー」の育成を目指します。" />
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<script type="text/javascript" src="js/menuShowHide.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/fix_browser.js" charset="UTF-8"></script>
<!--random content-->
<script type="text/javascript">

this.randomtip = function(){
	var length = $("#tips div").length; // this is where we put the id of the list
	var ran = Math.floor(Math.random()*length) + 1;
	$("#tips div:nth-child(" + ran + ")").show();
};

$(document).ready(function(){	
	randomtip();
});

</script>

</head>

<body>
<!--Outside-Line-->
<div id="outside">
	<!--Outside-->
	<div id="container">
		<!--Header-->
	  	<div id="ind_header">
			<div class="header_content">
				<h1 id="top"><a href="index.html"><img src="images/head-logo.gif" alt="名古屋大学大学院法学研究科/法制度設計・国際的制度移植専門家の養成プログラム" /></a></h1>
				<div class="head_right">
					<p><a href="http://www.nagoya-u.ac.jp" target="_blank"><img src="images/head-right-logo.gif" alt="名古屋大学／NagoyaUniversity" /></a></p>
					<ul>
						<li class="li03"><a href="others-b.html">サイトポリシー</a></li>
						<li class="li02"><a href="others-c.html">サイトマップ</a></li>
						<li class="li01"><a href="news.html">新着・イベント情報</a></li>
					</ul>
					<ul id="lang">
						<li><a href="en/index-e.html">English</a></li>
						<li><a href="index.html">日本語</a></li>
					</ul>
				</div>
				<div id="navbox">
					<ul id="head_menu">
						<li class="nav01"><a href="index.html" onmouseover="menuShowHide('sbm1');">HOME</a></li>
						<li class="nav02"><a href="programoutline-a.html" onmouseover="menuShowHide('sbm2');">プログラムの概要</a></li>
						<li class="nav03"><a href="prospectivestudents-a.html" onmouseover="menuShowHide('sbm3');">入学希望の方へ</a></li>
						<li class="nav04"><a href="currentstudent-a.html" onmouseover="menuShowHide('sbm4');">在学生向け情報</a></li>
						<li class="nav05"><a href="others-a.html" onmouseover="menuShowHide('sbm5');">アクセス</a></li>
					</ul>
					<!--▲Global Navigation▲--> 
					<!--▼DropDownNav▼-->
					<div id="hd_submenu">
						<!--<div class="sbm1" style="display:none;" id="dropdown01">
							<ul>
								<li><a href="index.html">HOME</a></li>
							</ul>
						</div>
						<div class="sbm2" style="display:none;" id="dropdown02">
							<ul>
								<li><a href="programoutline-a.html">目的・理念</a></li>
								<li><a href="programoutline-b.html">プログラムの特色</a></li>
								<li><a href="programoutline-c.html">教員・スタッフ</a></li> 							
							</ul>
						</div>
						<div class="sbm3" style="display:none;" id="dropdown03"><ul>
								<li><a href="prospectivestudents-a.html">学生募集</a></li>
								<li><a href="prospectivestudents-b.html">応募・選考プロセス</a></li>
								<li><a href="prospectivestudents-c.html">学位および進路</a></li> 	
							</ul></div>
						<div class="sbm4" style="display:none;" id="dropdown04">
							<ul>
								<li><a href="http://www.law.nagoya-u.ac.jp/naibu/syllabus.html" target="_blank">シラバスシステム</a></li>
								<li><a href="currentstudent-a.html">専門家養成プログラムの概要</a></li>
								<li><a href="currentstudent-b.html">学位審査</a></li>
								<li><a href="#">ハンドブック</a></li>
								<li><a href="pdf/2014applicants.pdf" target="_blank">奨励金受給者一覧</a></li>
							</ul></div>
						<div class="sbm5" style="display:none;" id="dropdown05">
							<ul>
								<li><a href="others-a.html">アクセス・お問い合わせ</a></li>
							</ul>
						</div>-->						
					</div>
				</div>				
				<div id="tips">
					<div><img src="images/ind-banner01.jpg" alt="none" /></div>
					<div><img src="images/ind-banner02.jpg" alt="none" /></div>
					<div><img src="images/ind-banner03.jpg" alt="none" /></div>
					<div><img src="images/ind-banner04.jpg" alt="none" /></div>
					<div><img src="images/ind-banner05.jpg" alt="none" /></div>
				</div>				
			</div>
		</div>
		<!--Header-->
		<!--Main-->
			<div class="main_content">
			<div id="ind_content">
				<h2><img src="images/ind-main-title.gif" alt="日本学術振興会博士課程教育リーディングプログラム(オンリーワン型)法制度設計・国際的制度移植専門家の養成プログラム" /></h2>
				<div class="ind_text">
					<p>名古屋大学法学部・大学院法学研究科は、日本を代表する研究大学の一つとして、法学・政治学教育の国際的な展開を進めています。<br />　本プログラムは、これまで築き上げてきた国際的ネットワークを活かし、法整備支援プロジェクトの現場を活用しながら、「国境を越えて、魅力ある制度を構想・設計できるリーダー」の育成を目指します。</p>
					
					<br> <div align="center"><font size="4" color="#FF3300">2014年度Rolling Admission(2014年10月入学生)→<u><a href="pdf/2014rolling_applicants.pdf">合格者発表</a><br><br>
<a href="http://www.law.nagoya-u.ac.jp/examination/index.html#leading">2015年度学生募集要項</a><br>

</u></font></div>
<br>
					
					
				</div>
				
			
				<div class="ind_img">
					<div><img src="images/ind-cont-img01.jpg" alt="none" /></div>
					<div><img src="images/ind-cont-img02.jpg" alt="none" /></div>
					<div><img src="images/ind-cont-img03.jpg" alt="none" /></div>
				</div>
			</div>
			<div id="ind_side">
				<div class="ind_news">
					<h2>新着情報</h2>
					<dl>
@@ANNOUNCEMENTS@@
					</dl>
				</div>
				<div class="ind_news">
					<h2>イベント情報</h2>
					<dl class="events">
@@EVENTS@@
					</dl>
					<p><a href="news.html">新着・イベント情報一覧はこちら＞＞</a></p>
				</div>	
				<p><a href="http://www.nagoya-u.ac.jp" target="_blank"><img src="images/temp-side-img1.gif" alt="名古屋大学／NagoyaUniversity" /></a></p>
				<p><a href="http://www.jsps.go.jp" target="_blank"><img src="images/temp-side-img2.gif" alt="日本学術振興会" /></a></p>
				<p><a href="http://www.mext.go.jp" target="_blank"><img src="images/temp-side-img4.gif" alt="文部科学省" /></a></p>
			</div>
			<p class="backtop"><a href="#top"><img src="images/backtop.gif" alt="上へ戻る" /></a></p>
		</div>
		<!--Main-->
		<!--Footer-->
		<div id="footer">
			<div class="footer_content">
				<ul class="foot_nav">
					<li><a href="index.html">HOME</a></li>
					<li><a href="programoutline-a.html">プログラムの概要</a></li>
					<li><a href="prospectivestudents-a.html">入学希望の方へ</a></li>
					<li><a href="currentstudent-a.html">在学生向け情報</a></li>
					<li><a href="others-a.html">アクセス</a></li>
				</ul>
				<p class="foot_logo"><a href="index.html"><img src="images/foot-logo.gif" alt="名古屋大学大学院法学研究科/法制度設計・国際的制度移植専門家の養成プログラム" /></a></p>
				<ul class="foot_site">
					<li class="li02"><a href="others-b.html">サイトポリシー</a></li>
					<li class="li01"><a href="others-c.html">サイトマップ</a></li>
					<li class="li01"><a href="news.html">新着・イベント情報</a></li>
				</ul>
				<p class="copyright">Copyright(c) Leadeing Graduate School All Rights Reserved.</p>
			</div>
		</div>
		<!--Footer-->
	</div>
	<!--Outside-->
</div>
<!--Outside-Line-->
</body>
</html>
