<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>NewsWriter: Event Demo Page</title>
  </head>
  <body>
    <h1>NewsWriter: Event Demo Page</h1>
    <div>
      <a href="/index.html">[return to top]</a>
    </div>
    <div>
      <a href="@@EVENT_ID@@.ics">[Add this event to your calendar @@MONTH@@ @@DAY@@]</a>
    </div>
    <div style="text-align:right;">
      @@DOW@@, @@DATE@@
    </div>
    <h2>@@NAME_AND_TITLE@@</h2>
    <div>
      @@LEDE@@
      @@DESCRIPTION@@
    </div>
    <h3>Session details</h3>
    <div style="margin-left:2em;">
      @@SESSIONS@@
    </div>
    @@ATTACHMENTS@@
    <hr/>
    <div>
      For further information, contact @@CONVENOR_NAME@@, @@CONVENOR_POSITION@@ (@@CONVENOR_AFFILIATION@@)@@CONVENOR_CONTACT@@.
    </div>
  </body>
</html>
