<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Online Writing Lab</title>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="Nagoya University Law School, Nagoya University Graduates School of Law, Nagoya University, Meidai, Law Programs, Programs in English, English Program, Japan, Nagoya, Aichi, legal, education, research, college, international, overseas, graduate, undergraduate, lld, llm, Monbukagakusho, Monbusho, globalisation, oda, asian studies" name="keywords"/>
    <meta content="text/css" http-equiv="Content-Style-Type"/>
    <link type="text/css" rel="stylesheet" href="/en/inc/screen.css"/>
    <link type="text/css" rel="stylesheet" href="/en/inc/indexpage-pagecontent.css"/>
    <link type="text/css" rel="stylesheet" href="/en/inc/calendar-float.css"/>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:900|Noticia+Text:400,400italic"/>
    <script type="text/javascript" src="/en/inc/navi.js">
    </script>
    <script type="text/javascript" src="/en/inc/size.js">
    </script>
    <script type="text/javascript" src="/en/inc/hi.js">
    </script>
  </head>
  <body onload="setNavi();adjustTextSize();">
    <div style="width:800px;margin: 0 auto;background:#FFFFFF;border-left:1px solid #dddddd;">
      <div style="width:766px;margin: 0 auto;">
<div class="header">
          <table width="766px" style="padding:0;margin:0;" class="topstrip">
            <tbody><tr>
              <td style="padding:0;width:2em;" class="blank-edge">&nbsp;</td>
              <td style="padding:0;vertical-align:middle;text-align:left;width:40px;" class="logo">
                <a href="/en/">
                  <img alt=" " src="/en/image/nagoya-university-logo.gif" class="static"/>
                </a>
              </td>
              <td style="text-align:left;padding:0;vertical-align:middle;" class="logo">
                <a href="/en/">
                  Nagoya&nbsp;University Graduate&nbsp;School&nbsp;of&nbsp;Law
	            </a>
              </td>
              <td style="text-align:right;padding:0;" class="banner-links">
                <table style="margin:0;padding:0;display:inline;">
                  <tbody><tr>
                    <td style="vertical-align:middle;text-align:left;padding:0 0.5em 0.3em 0.5em;border-left:5px solid #eeeeee;" class="banner-links-left">
                      <a style="padding-bottom:0.5em;" href="http://www.law.nagoya-u.ac.jp/">Japanese&nbsp;site</a><br/>
                      <a href="http://www.nagoya-u.ac.jp/en/">University&nbsp;site</a>
                    </td>
                    <td style="text-align:left;padding:0 0.5em 0 0.5em;border-left:5px solid #eeeeee;border-right:5px solid #eeeeee;" class="banner-links-right">
                      <span><a style="padding-bottom:0.5em;" href="/en/sitemap.html">Site&nbsp;Map</a></span><br/>
                      <span class="bdtext"><a onclick="createCookie('textSize','Small',1);document.location.reload(true);" class="size-s"><span>small |</span></a><a onclick="eraseCookie('textSize');document.location.reload(true);" class="size-m"><span>medium |</span></a><a onclick="createCookie('textSize','Large',1);document.location.reload(true);" class="size-l"><span>large |</span></a></span><div style="clear:both;"></div>
                    </td>
                  </tr>
                </tbody></table>
              </td>
              <td style="padding:0;width:2em;">&nbsp;</td>
            </tr>
          </tbody></table>
          <div class="menu nav-buttons">
	        <a href="/en/programs/" style="border-left:1px solid #a0a0a0;" class="menu-button-unselected">Programs</a><a href="/en/admissions/" class="menu-button-unselected">Admissions</a><a href="/en/curriculum/" class="menu-button-selected">Curricula</a><a href="/en/faculty/" class="menu-button-unselected">Staff</a><a href="/en/support/" class="menu-button-unselected">Directory</a><a href="/en/alumni/" class="menu-button-unselected">Alumni</a>
          </div>
        </div>
        <div class="content">
          <div class="breadcrumbs">
	        <span class="breadcrumb">
              <a href="/en/">Top</a>
            </span> 
            <span style="font-size:larger;">⇦</span> 
            <span class="breadcrumb">
              <a href="/en/curriculum/">Curricula</a>
              </span>&nbsp;<span style="font-size:larger;">⇦</span>
          </div>
          <a name="newstoc">
          </a>
          <div class="content-pane-left">
	        <div class="page-title">Online Writing Lab</div>
	        <div class='toc-wrapper'>
              <div class='toc'>
                <div class='toc-title'>Research Links</div>
                <ul>
                  <li class='directory-listing'><a href="/en/curriculum/owl/research/" title="Research Links">Research Links</a></li>
                  </ul><div class='toc-title'>Support</div><ul>
                  <li class='directory-listing-remote'><a href="http://www.mywritinglab.com/" target="_blank" title="My Writing Lab">My Writing Lab</a></li>
                  <li class='directory-listing'><a href="/en/curriculum/owl/bibliographic/" title="Bibliography management">Bibliography management</a></li>
                  <li class='directory-listing'><a href="/en/curriculum/owl/writing-aids/" title="Writing aids">Writing aids</a></li>
                  </ul><div class='toc-title'>Documents</div><ul>
                  <li class='download-listing'><a href="/en/curriculum/owl/writing-guide/" title="NUGSL Writing Guide">NUGSL Writing Guide</a></li>
                  <li class='directory-listing-remote'><a href="http://citationstylist.org/2013/05/26/mlz-book-citations-out-of-the-box-now-available/" target="_blank" title="Citations, Out of the Box">Citations, Out of the Box</a></li>
                  <li class='directory-listing'><a href="/en/curriculum/owl/mlz-guide/" title="Multilingual Zotero Guide">Multilingual Zotero Guide</a></li>
              </ul>
              </div>
            </div>
            <p>
              This page provides access to information provided by the
              Academic Writing team. Refer to the links to the right
              for essential documents, and for support tools developed
              at Nagoya and partner institutions.
            </p>
            <p>
              News from the team appears below. The orange icon is a
              link to our "news feed", a magic bookmark that shows a
              stream of the latest items. You can subscribe by
              clicking on the icon in your browser, or by pasting the
              URL into a news reader.
            </p>
            <p>
              All students should subscribe to follow the latest
              events and announcements from the team.
            </p>
            <div class="right-top-column">
              <a href="webcal://law.nagoya-u.ac.jp/en/curriculum/owl/calendar.ics" title="Subscribe to calendar" class="calendar-link"><div class="month">Calendar</div><div class="day">subscribe</div></a>
              <h2>Academic Writing News <a class="feed-icon" title="AW Events Feed" href="/en/curriculum/owl/index.atom"><img src="/en/icon/Feed_24x24.png" alt="[AW News Feed]"/></a></h2>
            </div>
            <h3>Events</h3>
            @@EVENTS@@
            <h3>News and Views</h3>
            @@ANNOUNCEMENTS@@
          </div>
        </div>
        <div class="footer nav-buttons">
          <a href="/en/programs/" style="border-left:1px solid #a0a0a0;" class="menu-button-unselected">Programs</a>
          <a href="/en/admissions/" class="menu-button-unselected">Admissions</a>
          <a href="/en/curriculum/" class="menu-button-selected">Curricula</a>
          <a href="/en/faculty/" class="menu-button-unselected">Staff</a>
          <a href="/en/support/" class="menu-button-unselected">Directory</a>
          <a href="/en/alumni/" class="menu-button-unselected">Alumni</a>
          <p>
	        <a href="mailto:bennett@nagoya-u.jp" class="commentlink">Comments on this website: <span class="tt">bennett@nagoya-u.jp</span>
            </a>
          </p>
        </div>
        <p class="footer-bold">&copy; 2007-2013 Nagoya University Graduate School of Law</p>
      </div>
    </div>
  </body>
</html>
