<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja"><!-- InstanceBegin template="/Templates/templete-e.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>@@TITLE@@</title>
<!-- InstanceEndEditable -->
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/style" />
<meta http-equiv="content-style-type" content="text/css" />
<!-- InstanceBeginEditable name="description" -->
<meta name="description" content="Nagoya University the School of Law and the Graduate School of Law enhances international education in law and political sciences." />
<!-- InstanceEndEditable -->
<link rel="stylesheet" href="../../css/base-e.css" type="text/css" />
<link rel="stylesheet" href="../../css/style-e.css" type="text/css" />
<script type="text/javascript" src="../../js/menuShowHide-e.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../js/jquery-e.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../js/scrolltopcontrol-e.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../js/fix_browser-e.js" charset="UTF-8"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<!--Outside-Line-->
<div id="outside"> 
	<!--Outside-->
	<div id="container"> 
		<!--Header-->
		<div id="header">
			<div class="header_content">
				<h1 id="top"><a href="../../index-e.html"><img src="../../images/head-logo-e.gif" alt="The Program for Leading Graduate Schools/Cross-Border Legal Institution Design" /></a></h1>
				<div class="head_right">
					<p><a href="http://www.nagoya-u.ac.jp/en/" target="_blank"><img src="../../images/head-right-logo-e.gif" alt="NagoyaUniversity" /></a></p>
					<ul>
						<li class="li03"><a href="../../others-b-e.html">Sitepolicy</a></li>
						<li class="li02"><a href="../../others-c-e.html">Sitemap</a></li>
						<li class="li01"><a href="../../news-e.html">News and events</a></li>
					</ul>
					<!-- InstanceBeginEditable name="EditRegion7" -->
					<ul id="lang">
						<li><a href="../../events-detail01-e.html">English</a></li>
						<li><a href="../../events-detail01.html">Japanese</a></li>
					</ul>
					<!-- InstanceEndEditable --></div>
				<div id="navbox">
					<ul id="head_menu">
						<li class="nav01"><a href="../../index-e.html" onmouseover="menuShowHide('sbm1');">HOME</a></li>
						<li class="nav02"><a href="../../programoutline-a-e.html" onmouseover="menuShowHide('sbm2');">Program Outline</a></li>
						<li class="nav03"><a href="../../prospectivestudents-a-e.html" onmouseover="menuShowHide('sbm3');">Prospective Students</a></li>
						<li class="nav04"><a href="../../currentstudent-a-e.html" onmouseover="menuShowHide('sbm4');">Current Students</a></li>
						<li class="nav05"><a href="../../others-a-e.html" onmouseover="menuShowHide('sbm5');">Contact</a></li>
					</ul>
					<!--▲Global Navigation▲--> 
					<!--▼DropDownNav▼-->
					<div id="hd_submenu">
						<!--<div class="sbm1" style="display:none;" id="dropdown01">
							<ul>
								<li><a href="../en/index-e.html">HOME</a></li>
							</ul>
						</div>
						<div class="sbm2" style="display:none;" id="dropdown02">
							<ul>
								<li><a href="../en/programoutline-a-e.html">Objective</a></li>
								<li><a href="../en/programoutline-b-e.html">Characteristics</a></li>
								<li><a href="../en/programoutline-c-e.html">Staff</a></li> 							
							</ul>
						</div>
						<div class="sbm3" style="display:none;" id="dropdown03"><ul>
								<li><a href="../en/prospectivestudents-a-e.html">Admission Policy</a></li>
								<li><a href="../en/prospectivestudents-b-e.html">Application Process</a></li>
								<li><a href="../en/prospectivestudents-c-e.html">Carrier Opportunity</a></li> 	
							</ul></div>
						<div class="sbm4" style="display:none;" id="dropdown04">
							<ul>
								<li><a href="http://www.law.nagoya-u.ac.jp/naibu/syllabus.html" target="_blank">Syllabus System</a></li>
								<li><a href="../en/currentstudent-a-e.html">Overview of education program</a></li>
								<li><a href="../en/currentstudent-b-e.html">Degree Examination</a></li>
								<li><a href="#">Handbook</a></li>
								<li><a href="../pdf/Stipend12.pdf" target="_blank">Announcement of Research Stipend Grantees</a></li>
							</ul></div>
						<div class="sbm5" style="display:none;" id="dropdown05">
							<ul>
								<li><a href="../en/others-a-e.html">Access Map</a></li>
							</ul>
						</div>-->				
					</div>
				</div>
				<!-- InstanceBeginEditable name="banner" -->
				<div class="head_banner"><img src="../../images/news-banner-e.jpg" alt="News and Events" width="960" height="160" /></div>				
				<!-- InstanceEndEditable --> 
			</div>
		</div>
		<!--Header--> 
		<!--Main--> 
		<!--2Column-->
		<div class="main_content">
			<div id="content">
			<!-- InstanceBeginEditable name="EditRegion1" -->
				<ol id="path">
					<li><a href="../../index-e.html">Home</a>&nbsp;&gt;</li>
					<li><a href="../../news-e.html">News and Events</a>&nbsp;&gt;</li>
				</ol>
				<h2 class="main_title"><img src="../../images/event-main-h2-e.gif" alt="Events" width="650" height="20" /></h2>
				<div class="news_cont">
    <div style="text-align:right;">
      @@DOW@@, @@DATE@@
    </div>
    <h2 style="font-size:150%;font-weight:bold;margin-bottom:1em;">@@NAME_AND_TITLE@@</h2>
    <div>
      @@LEDE@@
      @@DESCRIPTION@@
    </div>
    <h3>Session Details</h3>
    <div style="margin-left:2em;">
      @@SESSIONS@@
    </div>
    @@ATTACHMENTS@@
    <hr style="clear:both;"/>
    <div>
      Info: @@CONVENOR_NAME@@, @@CONVENOR_POSITION@@ (@@CONVENOR_AFFILIATION@@)@@CONVENOR_CONTACT@@.
    </div>
				</div>
				<!-- InstanceEndEditable --> 
			</div>
			<div id="side">
			<!-- InstanceBeginEditable name="sideNav" -->
				<h2><img src="../../images/temp-side-h2-e.gif" alt="The others menu" width="250" height="60" /></h2>
				<ul>
					<li><a href="../../others-a-e.html">&nbsp;&nbsp;&nbsp;Contact</a></li>
					<li><a href="../../others-b-e.html">&nbsp;&nbsp;&nbsp;Sitepolicy</a></li>
					<li><a href="../../others-c-e.html">&nbsp;&nbsp;&nbsp;Sitemap</a></li>
				</ul>
			<!-- InstanceEndEditable --> 
				<p><a href="http://www.nagoya-u.ac.jp/en/" target="_blank"><img src="../../images/temp-side-img1-e.gif" alt="NagoyaUniversi" /></a></p>
				<p><a href="http://www.jsps.go.jp/english/index.html" target="_blank"><img src="../../images/temp-side-img2-e.gif" alt="JSPS/Japan Society for the
Promotion of Science" /></a></p>
				<p><a href="http://www.mext.go.jp/english/" target="_blank"><img src="../../images/temp-side-img3-e.gif" alt="MEXT" border="0" /></a></p>
			</div>
			<p class="backtop"><a href="#top"><img src="../../images/backtop-e.gif" alt="Page  top" /></a></p>
		</div>
		<!--2Column--> 
		<!--Main--> 
		<!--Footer-->
		<div id="footer">
			<div class="footer_content">
				<ul class="foot_nav">
					<li><a href="../../index-e.html">HOME</a></li>
					<li><a href="../../programoutline-a-e.html">Program Outline</a></li>
					<li><a href="../../prospectivestudents-a-e.html">Prospective Students</a></li>
					<li><a href="../../currentstudent-a-e.html">Current Students</a></li>
					<li><a href="../../others-a-e.html">Contact</a></li>
				</ul>
				<p class="foot_logo"><a href="../../index-e.html"><img src="../../images/foot-logo-e.gif" alt="The Program for Leading Graduate Schools/Cross-Border Legal Institution Design" /></a></p>
				<ul class="foot_site">
					<li class="li02"><a href="../../others-b-e.html">Sitepolicy</a></li>
					<li class="li01"><a href="../../others-c-e.html">Sitemap</a></li>
					<li class="li01"><a href="../../news-e.html">News and events</a></li>
				</ul>
				<p class="copyright">Copyright(c) Leadeing Graduate School All Rights Reserved.</p>
			</div>
		</div>
		<!--Footer--> 
	</div>
	<!--Outside--> 
</div>
<!--Outside-Line-->
</body>
<!-- InstanceEnd --></html>
