<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cross-Border Legal Institution Design【Leading Graduate School Program (LGSP)】</title>
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/style" />
<meta http-equiv="content-style-type" content="text/css" />
<meta name="description" content="Nagoya University the School of Law and the Graduate School of Law enhances international education in law and political sciences." />
<link rel="stylesheet" href="css/base-e.css" type="text/css" />
<link rel="stylesheet" href="css/style-e.css" type="text/css" />
<script type="text/javascript" src="js/menuShowHide-e.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery-e.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/scrolltopcontrol-e.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/fix_browser-e.js" charset="UTF-8"></script>
<!--random content-->
<script type="text/javascript">

this.randomtip = function(){
	var length = $("#tips div").length; // this is where we put the id of the list
	var ran = Math.floor(Math.random()*length) + 1;
	$("#tips div:nth-child(" + ran + ")").show();
};

$(document).ready(function(){	
	randomtip();
});

</script>

</head>

<body>
<!--Outside-Line-->
<div id="outside">
	<!--Outside-->
	<div id="container">
		<!--Header-->
	  	<div id="ind_header">
			<div class="header_content">
				<h1 id="top"><a href="index-e.html"><img src="images/head-logo-e.gif" alt="The Program for Leading Graduate Schools/Cross-Border Legal Institution Design" /></a></h1>
				<div class="head_right">
					<p><a href="http://www.nagoya-u.ac.jp/en/" target="_blank"><img src="images/head-right-logo-e.gif" alt="NagoyaUniversity" /></a></p>
					<ul>
						<li class="li03"><a href="others-b-e.html">Sitepolicy</a></li>
						<li class="li02"><a href="others-c-e.html">Sitemap</a></li>
						<li class="li01"><a href="news-e.html">News and events</a></li>
					</ul>
					<ul id="lang">
					<li><a href="index-e.html">English</a></li>
					<li><a href="../index.html">Japanese</a></li>
				</ul>
				</div>
				<div id="navbox">
					<ul id="head_menu">
						<li class="nav01"><a href="index-e.html" onmouseover="menuShowHide('sbm1');">HOME</a></li>
						<li class="nav02"><a href="programoutline-a-e.html" onmouseover="menuShowHide('sbm2');">Program Outline</a></li>
						<li class="nav03"><a href="prospectivestudents-a-e.html" onmouseover="menuShowHide('sbm3');">Prospective Students</a></li>
						<li class="nav04"><a href="currentstudent-a-e.html" onmouseover="menuShowHide('sbm4');">Current Students</a></li>
						<li class="nav05"><a href="others-a-e.html" onmouseover="menuShowHide('sbm5');">Contact</a></li>
					</ul>
					<!--▲Global Navigation▲--> 
					<!--▼DropDownNav▼-->
					<div id="hd_submenu">
						<!--<div class="sbm1" style="display:none;" id="dropdown01">
							<ul>
								<li><a href="index-e.html">HOME</a></li>
							</ul>
						</div>
						<div class="sbm2" style="display:none;" id="dropdown02">
							<ul>
								<li><a href="programoutline-a-e.html">Objectives</a></li>
								<li><a href="programoutline-b-e.html">Characteristics</a></li>
								<li><a href="programoutline-c-e.html">Staff</a></li> 							
							</ul>
						</div>
						<div class="sbm3" style="display:none;" id="dropdown03"><ul>
								<li><a href="prospectivestudents-a-e.html">Admission Policy</a></li>
								<li><a href="prospectivestudents-b-e.html">Application Process</a></li>
								<li><a href="prospectivestudents-c-e.html">Carrier Opportunity</a></li> 	
							</ul></div>
						<div class="sbm4" style="display:none;" id="dropdown04">
							<ul>
								<li><a href="http://www.law.nagoya-u.ac.jp/naibu/syllabus.html" target="_blank">Syllabus System</a></li>
								<li><a href="currentstudent-a-e.html">Overview of education program</a></li>
								<li><a href="currentstudent-b-e.html">Degree Examination</a></li>
								<li><a href="#">Handbook</a></li>
								<li><a href="pdf/Stipend14_e.pdf" target="_blank">Announcement of Research Stipend Grantees</a></li>
							</ul></div>
						<div class="sbm5" style="display:none;" id="dropdown05">
							<ul>
								<li><a href="others-a-e.html">Access Map</a></li>
							</ul>
						</div>-->						
					</div>
				</div>				
				<div id="tips">
					<div><img src="images/ind-banner01-e.jpg" alt="none" /></div>
					<div><img src="images/ind-banner02-e.jpg" alt="none" /></div>
					<div><img src="images/ind-banner03-e.jpg" alt="none" /></div>
					<div><img src="images/ind-banner04-e.jpg" alt="none" /></div>
					<div><img src="images/ind-banner05-e.jpg" alt="none" /></div>
				</div>			
			</div>
		</div>
		<!--Header-->
		<!--Main-->
			<div class="main_content">
			<div id="ind_content">
				<h2><img src="images/ind-main-title-e.gif" alt="The Program for Leading Graduate Schools/“Cross-Border Legal Institution Design”" width="555" height="50" /></h2>
				<div class="ind_text">
					<p>　Nagoya University School of Law and the Graduate School of Law enhances international education in law and political sciences.<br/>
                    　The objective of this Program is to produce Asia-literate professionals who can design legal institutions for cross-border transplantation. Students will develop flexible perspectives that allow them to understand and compare diverse societies, and learn how to offer innovative yet highly practical solutions for the legal challenges facing the region. <br/>
　Successful candidates will possess strong legal skills, including in legislative drafting, and a track record of using effective communication and cross-cultural skills to organize a team of professionals.
</p>
<br> <div align="center"><font size="4" color="#FF3300"><u><a href="../pdf/2014rolling_applicants.pdf">Announcement of Successful Applicants</font></a> <br><font color="#FF3300">in the second admission round for the 2014 academic year.</font><br>(Academic Year 2014).</a>
<br><br>

</u></div><br>
<div align="center">*new*<font size="4"><a href="http://www.law.nagoya-u.ac.jp/examination/index.html#leading">Announcement of Year 2015 Application</a></div></font><br>

				</div>
				<div class="ind_img">
					<div><img src="images/ind-cont-img01-e.jpg" alt="none" /></div>
					<div><img src="images/ind-cont-img02-e.jpg" alt="none" /></div>
					<div><img src="images/ind-cont-img03-e.jpg" alt="none" /></div>
				</div>
			</div>
			<div id="ind_side">
				<div class="ind_news">
					<h2>What’s New</h2>
					
					<dl>
@@ANNOUNCEMENTS@@
					</dl>
				</div>
				
<div class="ind_news">
					<h2>Event</h2>
					<dl class="events">
@@EVENTS@@
					</dl>
					<p><a href="news-e.html">See more News & Events >></a></p>
				</div>		
				<p><a href="http://www.nagoya-u.ac.jp/en/" target="_blank"><img src="images/temp-side-img1-e.gif" alt="NagoyaUniversity" /></a></p>
				<p><a href="http://www.jsps.go.jp/english/" target="_blank"><img src="images/temp-side-img2-e.gif" alt="JSPS/Japan Society for the
Promotion of Science" /></a></p>
				<p><a href="http://www.mext.go.jp/english/" target="_blank"><img src="images/temp-side-img3-e.gif" alt="MEXT" border="0" /></a></p>
			</div>
			<p class="backtop"><a href="#top"><img src="images/backtop-e.gif" alt="Page  top" /></a></p>
		</div>
		<!--Main-->
		<!--Footer-->
		<div id="footer">
			<div class="footer_content">
				<ul class="foot_nav">
					<li><a href="index-e.html">HOME</a></li>
					<li><a href="programoutline-a-e.html">Program Outline</a></li>
					<li><a href="prospectivestudents-a-e.html">Prospective Students</a></li>
					<li><a href="currentstudent-a-e.html">Current Students</a></li>
					<li><a href="others-a-e.html">Contact</a></li>
				</ul>
				<p class="foot_logo"><a href="index-e.html"><img src="images/foot-logo-e.gif" alt="The Program for Leading Graduate Schools/Cross-Border Legal Institution Design" /></a></p>
				<ul class="foot_site">
					<li class="li02"><a href="others-b-e.html">Sitepolicy</a></li>
					<li class="li01"><a href="others-c-e.html">Sitemap</a></li>
					<li class="li01"><a href="news-e.html">News and events</a></li>
				</ul>
				<p class="copyright">Copyright(c) Leadeing Graduate School All Rights Reserved.</p>
			</div>
		</div>
		<!--Footer-->
	</div>
	<!--Outside-->
</div>
<!--Outside-Line-->
</body>
</html>
